<br>
<br>
<h1 style="text-align: center">School</h1>
<div id="container">
  <div class="column-list">
    <div class="margin-sides">
      <p>Subjects</p>
      <button class="btn btn-primary" type="button" id="addSubject" data-toggle="modal" data-target="#newSubject">Add new Subject</button>
      <mat-card class="mat-card-list">
        <mat-list role="list">
          <mat-list-item *ngFor="let subject of subjects"
                         class="no-pad list-item"
                         role="listitem"
                         (click)="subjectSelect(subject)">
            <div class="text">
              <h5>{{subject.name}}</h5>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
  <div class="column-list">
    <div class="margin-sides">
      <p>Students by titulation</p>
      <button class="btn btn-primary" type="button" (click)="getByStudies('telematica')">Telemathics</button>
      <button class="btn btn-primary" type="button" (click)="getByStudies('telecos')">Telecom</button>
      <button class="btn btn-primary" type="button" (click)="getByStudies('aerospace')">Aerospace</button>
      <mat-card class="mat-card-list">
        <mat-list role="list">
          <mat-list-item *ngFor="let student of students"
                         class="no-pad list-item"
                         role="listitem">
            <div class="text">
              <h5>{{student.name}}</h5>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
  <div class="column-list">
    <div class="margin-sides">
      <p *ngIf="currentSubj">Students of {{currentSubj.name}}</p>
      <p *ngIf="!currentSubj">Students</p>
      <button mat-raised-button (click)="addStudent()" class="button-align-left" [disabled]="currentSubj==null">Enroll Student</button>
      <mat-card class="mat-card-list">
        <mat-list *ngIf="currentSubj" role="list">
          <mat-list-item *ngFor="let student of currentSubj.students"
                         class="no-pad list-item"
                         role="listitem"
                         (click)="studentSelect(student)">
            <div class="text">
              <h5>{{student.name}}</h5>
            </div>
            <button class="btn btn-primary" type="button" id="studentDetailsButton" data-toggle="modal" data-target="#studentDetails">View Details</button>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>

<div class="modal fade" id="newSubject" tabindex="-1" role="dialog" aria-labelledby="subjectLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subjectLabel">New Subject</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="subjectForm">
          <div class="form-group">
            <div class="example-container">
              <input type="text" id="subjectName" formControlName="name" placeholder="Subject Name" [(ngModel)]="subjectName"/>
            </div>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
              <div class="alert alert-danger" *ngIf="subjectForm.get('name').hasError(validation.type) && (subjectForm.get('name').dirty || subjectForm.get('name').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!subjectForm.valid" (click)="addSubject()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newStudent" tabindex="-1" role="dialog" aria-labelledby="studentLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="student1">New Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentForm">
          <div class="form-group">
            <div class="example-container">
              <input type="text" id="studentName" formControlName="name" placeholder="Subject Name" [(ngModel)]="subjectName"/>
            </div>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
              <div class="alert alert-danger" *ngIf="subjectForm.get('name').hasError(validation.type) && (subjectForm.get('name').dirty || subjectForm.get('name').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!subjectForm.valid" (click)="addSubject()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="studentDetails" tabindex="-1" role="dialog" aria-labelledby="studentDetailsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentDetail">Student Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentForm">
          <div class="form-group">
            <div class="example-container" *ngIf="currentStud">
              <p>{{'Name: '+currentStud.name}}</p>
              <p>{{'Address: '+currentStud.address}}</p>
              <div *ngIf="currentStud">
                <p>Phones</p>
                <mat-list-item *ngFor="let phone of currentStud.phones"
                               class="no-pad"
                               role="listitem">
                  <p class="phones  ">{{phone.key}}: {{phone.value}}</p>
                </mat-list-item>
              </div>
              <div *ngIf="currentStud">
                <p>Studies</p>
                <mat-list-item *ngFor="let studies of currentStud.studies"
                               class="no-pad"
                               role="listitem">
                               
                  <p class="phones ">{{studies.name}}</p>
                </mat-list-item>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
